<% content_for :page_title do %>
  <%= t('page_title.case') %>
<% end %>

<%= govuk_back_link(href: "javascript:history.go(-1)") %>

<h1 class="govuk-heading-xl">Account details</h1>

<%= govuk_button_link_to "Print account details", "javascript:window.print()" %>

<%= render "summary", kase: @case %>

<%= govuk_details(summary_text: "What happens next") do %>
  <h3 class="govuk-heading-s">Provide any further information you know</h3>
  <p class="govuk-body">So we can identify the account, print these results and send to the Courts Fund Office including any other details you might know, such as the:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>court account name</li>
    <li>name of the relevant court case</li>
    <li>court that dealt with the case</li>
    <li>date of the case</li>
    <li>name of the person paying the money to the court</li>
    <li>name of the person the money was awarded to</li>
  </ul>

  <h3 class="govuk-heading-s">Show evidence you're entitled to claim</h3>
  <p class="govuk-body">We need evidence that the money could belong to you, someone you're responsible for or are representing. This could be copies of:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><%= govuk_link_to "will or grant of administration", "https://www.gov.uk/wills-probate-inheritance/searching-for-probate-records" %></li>
    <li><%= govuk_link_to "birth, death or marriage certificates", "https://www.gov.uk/order-copy-birth-death-marriage-certificate" %></li>
    <li><%= govuk_link_to "census record", "https://www.nationalarchives.gov.uk/help-with-your-research/research-guides/census-records/" %></li>
    <li>a court order (the court that issued it can provide a copy)</li>
  </ul>

  <h4 class="govuk-body govuk-!-font-weight-bold">Include your ID</h4>
  <p class="govuk-body">We also need evidence of your identity, so include a copy of some identification such as a passport or driving licence.</p>

  <h3 class="govuk-heading-s">Send your claim by post</h3>
  <p class="govuk-body">Court Funds Office<br>Sunderland<br>SR43 3AB</p>
  <p class="govuk-body">You will receive a reply by letter.</p>
  <p class="govuk-body">You can find out <%= govuk_link_to "how your personal information will be stored and used", "https://www.gov.uk/government/publications/court-funds-office-privacy-notice" %>.</p>
<% end %>
