<section class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="area_links govuk-!-margin-top-6" data-block-name="preparing-collection">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <section id="going-to-court-other-parent-before" class="SectionArea">
            <h2 class="area_links__heading govuk-heading-l">Professional mediation resources</h2>
            <p>The Family Mediation Council has more information on the <%= govuk_link_to "mediation process", "https://www.familymediationcouncil.org.uk/family-mediation/" %> and how it can benefit you.</p>
            <p>The <%= govuk_link_to "Separated Parents Information Programme", "https://www.cafcass.gov.uk/grown-ups/parents-and-carers/divorce-and-separation/separated-parents-information-programme/" %> helps you understand how to put your children first and manage disputes with the other parent. There are similar programmes in <a href="https://gov.wales/cafcass-cymru/family-separation">Wales</a> and <a href="https://www.relationships-scotland.org.uk/family-support/parenting-apart-groups">Scotland</a>.</p>
            <p>Download a <%= govuk_link_to "mediation information pack", "https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/489124/family-mediation-leaflet.pdf" %> from the Ministry of Justice.</p>
            <p>Advice Now has a <%= govuk_link_to "guide to using mediation", "https://www.advicenow.org.uk/guides/survival-guide-using-family-mediation-after-break" %> following separation.</p>
            <p><%= govuk_link_to "Listen to real mediation stories", "https://www.youtube.com/playlist?list=PLe8vyktlR0b30Yd7lJyGLErjf22o-Ej32" %> from a University of Exeter study.</p>
            <p>Find out more about <%= govuk_link_to "lawyer-assisted mediation", "https://www.divorce.co.uk/avoiding-court/mediation" %>.</p>
            <p><%= govuk_link_to "Find a local mediator", "https://www.familymediationcouncil.org.uk/find-local-mediator/" %></p>
          </section>
        </div>
      </div>
    </nav>
  </div>
</section>
