<% content_for :page_title do %>
  <%= t('page_title.accessibility') %>
<% end %>

<%= govuk_back_link(href: "/") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Accessibility statement for Help with child arrangements</h1>

    <p class="govuk-body">This accessibility statement applies to the Help with child arrangements service. The service begins after you click <%= govuk_link_to "Search online for unclaimed court accounts", "/" %> from the <%= govuk_link_to "Find and claim money in a court account page", "https://www.gov.uk/find-court-money" %>.</p>
    <p class="govuk-body">The service provides a database search to check whether you are entitled to any unclaimed funds at court.</p>
    <p class="govuk-body">This website is run by the Ministry of Justice. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>resize text without assistive technology up to 200 percent without loss of content or functionality</li>
      <li>zoom in up to 300 percent without the text spilling off the screen
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>
    <p class="govuk-body">We&rsquo;ve also made the website text as simple as possible to understand.</p>
    <p class="govuk-body"><%= govuk_link_to "AbilityNet", "https://mcmw.abilitynet.org.uk/" %> has advice on making your device easier to use if you have a disability.</p>

    <h2 class="govuk-heading-m">How accessible this website is</h2>
    <p class="govuk-body">This website is compliant with the <%= govuk_link_to "Web Content Accessibility Guidelines version 2.1", "https://www.w3.org/TR/WCAG21/" %> AA standard</p>

    <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
    <p class="govuk-body">If you find any problems not listed on this page or think we&rsquo;re not meeting accessibility requirements, contact:</p>
    <p class="govuk-body"><%= govuk_link_to "dex-engage@ministryofjustice.zendesk.com", "mailto:dex-engage@ministryofjustice.zendesk.com" %></p>

    <h2 class="govuk-heading-m">Enforcement procedure</h2>
    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the &lsquo;accessibility regulations&rsquo;). If you&rsquo;re not happy with how we respond to your complaint, <%= govuk_link_to "contact the Equality Advisory and Support Service (EASS)", "https://www.equalityadvisoryservice.com/" %>.</p>

    <h2 class="govuk-heading-m">Contacting us by phone or visiting us in person.</h2>
    <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille;</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Email the Court Funds Office at <%= govuk_link_to "enquiries@cfo.gov.uk", "mailto:enquiries@cfo.gov.uk" %></li>
      <li>Telephone: 0300 0200 199 Monday to Friday, 9am to 5pm</li>
      <li>You can also write to: Court Funds Office, Sunderland, SR43 3AB</li>
    </ul>

    <h2 class="govuk-heading-m">Technical information about this website&rsquo;s accessibility</h2>
    <p class="govuk-body">The Ministry of Justice is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

    <h2 class="govuk-heading-m">Compliance status</h2>
    <p class="govuk-body">This website is compliant with the <%= govuk_link_to "Web Content Accessibility Guidelines version 2.1", "https://www.w3.org/TR/WCAG21/" %> AA standard</p>

    <h2  class="govuk-heading-m">How we tested this website</h2>
    <p class="govuk-body">This website was last tested on 8 November 2021, with a follow up test on the single issue identified within that report on 29 November 2021.</p>
    <p class="govuk-body">The test was carried out by an independent third party; Digital Accessibility Centre (DAC).</p>
    <p class="govuk-body">We used this approach to deciding on a sample of pages to test;</p>
    <ul class="govuk-list govuk-list--bullet"><li>Appendix: “The Process” in the full accessibility test report linked to below.</li></ul>
    <p class="govuk-body">You can read the full accessibility test report here;</p>
    <p class="govuk-body"><%= govuk_link_to "DAC Audit for Help with child arrangements - 8 November 2021", "https://drive.google.com/file/d/1KV-zlpyA6ogH89JBsECNqzpNv_4j154G/view?usp=sharing" %></p>
    <p class="govuk-body">We have fixed the sole issue at A within that report (Non-descriptive links/current page).</p>
    <p class="govuk-body">We are awaiting an addendum from DAC to confirm that we have passed this element, as at 30 November 2021. This addendum will be published in place of the 8 November test report above.</p>

    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    <p class="govuk-body">This statement was prepared on 2 August 2021. It was last reviewed on 30 November 2021.</p>
  </div>
</div>
