<section class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t(".title") %></h1>

    <p class="govuk-body-lead">Collaborative lawyers work with you and the other parent to resolve your issues out of
      court. You each hire a lawyer then all meet to negotiate face-to-face.</p>
    <p class="govuk-body">The collaborative process involves several steps but is usually quicker and cheaper than going
      to court.</p>
    <div class="summary_area__usp">
      <h4 class="summary_area_usp__heading govuk-heading-s govuk-!-margin-bottom-1">
        <span aria-hidden="true">
          <span data-block-name="Area__usp__heading">Choose this if...</span>
        </span>
        <span class="govuk-visually-hidden">
          <span data-block-name="Area__usp__heading--a11y">Choose Collaborative law if...</span>
        </span>
      </h4>

      <p>You can still communicate with the other parent but may have complex legal issues to resolve.</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="share_link">
      <%= govuk_link_to "Share this page by email", "mailto:?to=&body=Collaborative%20lawyers%20work%20with%20you%20and%20the%20other%20parent%20to%20resolve%20your%20issues%20out%20of%20court.%20You%20each%20hire%20a%20lawyer%20then%20all%20meet%20to%20negotiate%20face-to-face.%0D%0AThe%20collaborative%20process%20involves%20several%20steps%20but%20is%20usually%20quicker%20and%20cheaper%20than%20going%20to%20court.%0D%0A%0D%0AFind%20out%20more%20about%20collaborative%20law%20on%20this%20page%3A%20https%3A%2F%2Fhelpwithchildarrangements.service.justice.gov.uk%2Fcollaborative-law%3Futm_source%3Dshare&subject=I%20want%20to%20share%20this%20page%20about%20collaborative%20law%20with%20you" %>
    </div>

    <div class="pros_cons pros_cons--header">
      <div class="Pros">
        <h4 class="pros_cons__heading pros_cons__heading--pros govuk-heading-s" aria-label="Pros of Collaborative law">
          <span data-block-name="pros_cons__heading--pros">Pros</span>
        </h4>
        <ul class="pros_cons__list govuk-list pros_cons__list--pros">
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
            everyone is committed to not going to court
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
            quicker and less stressful than court
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
            you and the other parent set the agenda
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
            lawyers are present throughout
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
            good for your children to see their parents working together
          </li>
        </ul>
      </div>
      <div class="Cons">
        <h4 class="pros_cons__heading pros_cons__heading--cons  govuk-heading-s" aria-label="Cons of Collaborative law">
          <span data-block-name="pros_cons__heading--cons">Cons</span>
        </h4>
        <ul class="pros_cons__list govuk-list pros_cons__list--cons">
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
            can be an expensive process
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
            won't work unless you can trust the other parent and co-operate with them
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="collaborative-law-video" class="section_video govuk-grid-row" data-block-name="collaborative-law-video">
  <div class="govuk-grid-column-full">
    <div class="section_video__wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
          <h2 class="govuk-heading-l">Collaborative law in practice</h2>
          <p class="govuk-visually-hidden">
            <%= govuk_link_to "Collaborative law in practice - Video on YouTube", "https://www.youtube.com/watch?v=Cb2NcCNDJvg" %>
          </p>

          <div aria-hidden="true" type="video" id="c_video_player">
            <div class="section_video__video_wrapper">
              <iframe title="Collaborative Law in Practice" src="https://www.youtube.com/embed/Cb2NcCNDJvg?enablejsapi=1&origin=https://helpwithchildarrangements.service.justice.gov.uk" allowfullscreen="" data-gtm-yt-inspected-8="true"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="step-collaborative-law-step-1" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <span class="step__count step__count--professional-mediation-step-1">
              Step <span class="step__count__counter">1</span>
              <span aria-label=" - "></span>
            </span>
            Hire a lawyer
          </h2>

          <div class="step__content govuk-govspeak gv-s-prose">
            <p class="govuk-body">Both you and the other parent will need to hire your own lawyer. A lawyer can be
              expensive so ask for a quote or see if they offer a fixed fee. Some lawyers give free 30-minute
              consultations.</p>
          </div>
          <%= govuk_button_to "Find a collaborative lawyer", "https://resolution.org.uk/find-a-law-professional/" %>
        </div>
        <div class="cost govuk-grid-column-one-third">
          <h4 class="cost__heading govuk-heading-s">Lawyer rates (per hour)</h4>
          <p class="cost__amount govuk-heading-l"><strong>&pound;110 - &pound;410</strong></p>
          <p class="govuk-body-xs">Fees may vary depending on your location and the experience of the lawyer. How long
            you need will depend on your situation.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-collaborative-law-step-2" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <span class="step__count step__count--professional-mediation-step-1">
              Step <span class="step__count__counter">2</span>
              <span aria-label=" - "></span>
            </span>
            Meet with your lawyer
          </h2>

          <div class="step__content  govuk-govspeak gv-s-prose">
            <p class="govuk-body">our lawyer will first want to meet with you to discuss the case. They'll need to know
              more about your situation and what you want to achieve from the process. </p>
            <p class="govuk-body">Your lawyer and the other parent's lawyer will then contact each other so they can
              plan for your first collaborative meeting.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-collaborative-law-step-3" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <span class="step__count step__count--professional-mediation-step-1">
              Step <span class="step__count__counter">3</span>
              <span aria-label=" - "></span>
            </span>
            Attend first meeting
          </h2>

          <div class="step__content  govuk-govspeak gv-s-prose">
            <p class="govuk-body">At the first meeting everyone must sign a contract that commits both parties to
              resolving the issues out of court.</p>
            <p class="govuk-body">The contract also states that if the case does go to court both you and the other
              parent must hire new lawyers. This means it's in everyone's interests to make sure the negotiations don't
              break down.</p>
            <p class="govuk-body">Before you start to negotiate your lawyers will ask you and the other parent to share
              your priorities and concerns.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-collaborative-law-step-4" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <span class="step__count step__count--professional-mediation-step-1">
              Step <span class="step__count__counter">4</span>
              <span aria-label=" - "></span>
            </span>
            Sign the agreement or set a date for next meeting
          </h2>

          <div class="step__content">
            <p class="govuk-body">Collaborative law is a flexible process so how many meetings you'll need to reach an
              agreement will depend on your situation.</p>
            <h3 class="govuk-heading-s">If you agree at the first meeting</h3>
            <p class="govuk-body">Your lawyers will write down what's been agreed in a document. The document isn't
              legally binding but both you and the other parent will need to sign it.</p>
            <p class="govuk-body">If you want to make the document legally binding you can ask your lawyers to draft
              a <%= govuk_link_to "consent order", "https://www.gov.uk/looking-after-children-divorce/if-you-agree" %>.
              This isn't usually necessary but ask your lawyer for advice.</p>
            <h3 class="govuk-heading-s">If there's no agreement at the first meeting</h3>
            <p class="govuk-body">You and the other parent must meet with your lawyers to discuss the unresolved issues.
              A date is then set for a second meeting.</p>
            <h3 class="govuk-heading-s">If there's still no agreement</h3>
            <p class="govuk-body">If it looks like you won't be able to reach an agreement, you and the other parent may
              need to consider
              <%= govuk_link_to "going to court", going_to_court_path %>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="area_links">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="area_links__heading govuk-heading-l">Collaborative law resources</h2>
          <p class="govuk-body">Read more about
            the <%= govuk_link_to "collaborative law process", "https://resolution.org.uk/looking-for-help/splitting-up/your-process-options-for-divorce-and-dissolution/the-collaborative-process/" %></p>
          <p class="govuk-body">
            <%= govuk_link_to "Find a collaborative lawyer", "https://resolution.org.uk/find-a-law-professional/" %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "shared/survey_link" %>
<%= render "shared/agreement_links", links: [
  govuk_link_to(t("pages.professional-mediation.title"), professional_mediation_path),
  govuk_link_to(t("pages.negotiating-between-parents.title"), negotiating_between_parents_path),
  govuk_link_to(t("pages.lawyer-negotiation.title"), lawyer_negotiation_path),
  govuk_link_to(t("pages.going-to-court.title"), going_to_court_path) ]
%>
