<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "shared/banner", type: "court" %>

    <h1 class="govuk-heading-xl"><%= t(".title") %></h1>

    <p class="govuk-body-lead">You'll need to go to court if you've tried other suitable options and still can't agree
      arrangements, or you're worried about the welfare of you or your children.</p>
    <%= govuk_inset_text do %>
      <p class="govuk-body">The court process is different in
        <%= govuk_link_to "Scotland", "https://www.mygov.scot/organisations/scottish-courts-and-tribunals-service" %> and
        <%= govuk_link_to "Northern Ireland", "https://www.nidirect.gov.uk/articles/solicitors-and-courts" %>.
      </p>
    <% end %>
    <div class="summary_area__usp">
      <h2 class="summary_area_usp__heading govuk-heading-l govuk-!-margin-bottom-1">
        <span aria-hidden="true">
          <span data-block-name="Area__usp__heading">Choose this if...</span>
        </span>
        <span class="govuk-visually-hidden">
          <span data-block-name="Area__usp__heading--a11y">Choose Going to court if...</span>
        </span>
      </h2>

      <p class="govuk-body">You want a court to make a decision or you have concerns about domestic abuse or child
        abuse.</p>
      <p class="govuk-body"><strong>If the other parent has applied to court,
        <%= govuk_link_to "find out what it means for you", going_to_court_other_parent_path %>.</strong></p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="pros_cons pros_cons--header">
      <div class="Pros">
        <h3 class="pros_cons__heading pros_cons__heading--pros govuk-heading-s" aria-label="Pros of Going to court">
          <span data-block-name="pros_cons__heading--pros">Pros</span>
        </h3>
        <ul class="pros_cons__list govuk-list pros_cons__list--pros">
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
            a decision is made in your child's best
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
            legally binding outcome
          </li>
        </ul>
      </div>
      <div class="Cons">
        <h3 class="pros_cons__heading pros_cons__heading--cons  govuk-heading-s" aria-label="Cons of Going to court">
          <span data-block-name="pros_cons__heading--cons">Cons</span>
        </h3>
        <ul class="pros_cons__list govuk-list pros_cons__list--cons">
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
            can be expensive
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
            court process takes a long time
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
            you might not get what you want - a judge makes the decision
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
            can be more stressful for you and your children
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
            may increase conflict between you and the other parent
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<section id="going-to-court-video" class="section_video govuk-grid-row" data-block-name="going-to-court-video">
  <div class="govuk-grid-column-full">
    <div class="section_video__wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
          <h2 class="govuk-heading-l">Making your application to court</h2>
          <p class="govuk-visually-hidden">
            <%= govuk_link_to "Making your application to court - Video on YouTube", "https://www.youtube.com/watch?v=wUi7CsoeOE8" %>
          </p>

          <div aria-hidden="true" type="video" id="c_video_player">
            <div class="section_video__video_wrapper">
              <iframe title="How to Make a Child Arrangement Application to Court" src="https://www.youtube.com/embed/wUi7CsoeOE8?enablejsapi=1&origin=https://helpwithchildarrangements.service.justice.gov.uk" allowfullscreen="" data-gtm-yt-inspected-8="true"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-going-to-court-step-1" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">
            <span class="step__count step__count--professional-mediation-step-1">
              Step <span class="step__count__counter">1</span>
              <span aria-label=" - "></span>
            </span>
            Compare other options before applying to court
          </h2>

          <div class="step__content">
            <p class="govuk-body">Before applying to court you should see if you can resolve your dispute another
              way.</p>
            <p class="govuk-body">There's usually a better outcome for children and parents if an agreement can be
              reached without going to court.</p>
            <p class="govuk-body">If you and the other parent agree on the majority of issues you could trying using a
              <%= govuk_link_to "negotiation tool or service", negotiating_between_parents_path %>. Most of them are free and can help you both reach an amicable agreement.</p>
            <p class="govuk-body">
              <%= govuk_link_to "Professional mediation", professional_mediation_path %> is usually quicker than court and can be cheaper than using a lawyer. It's also a less
              stressful experience for your children.</p>
            <%= govuk_inset_text do %>
              <p class="govuk-body"><strong>You could get up to &pound;500 towards family mediation</strong></p>
              <p class="govuk-body">This is a scheme that provides a contribution to the cost of family mediation. It is only available for a limited time.</p>
              Find out more about the <%= govuk_link_to "family mediation voucher scheme", "https://www.gov.uk/guidance/family-mediation-voucher-scheme?utm_source=CAIT&amp;utm_campaign=mediation_vouchers" %>.
            <% end %>
            <p class="govuk-body">If your situation is complex, or you're not communicating with the other parent, you
              can use a lawyer to help you negotiate.</p>
            <p class="govuk-body">With
              <%= govuk_link_to "collaborative law", collaborative_law_path %>
              or
              <%= govuk_link_to "lawyer negotiation", lawyer_negotiation_path %>
              you'll have legal support throughout. These options can also be quicker and less stressful than court.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-going-to-court-step-2" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">
            <span class="step__count step__count--professional-mediation-step-1">
              Step <span class="step__count__counter">2</span>
              <span aria-label=" - "></span>
            </span>
            Choose to hire a lawyer or represent yourself
          </h2>

          <div class="step__content">
            <h3 class="govuk-heading-m">Hire a lawyer</h3>
            <p class="govuk-body">A lawyer can be expensive but they'll handle the legal aspects of the case and represent you in court.</p>
            <p class="govuk-body">They may try and negotiate a deal out of court with the other parent or recommend you move to step 3 straight away.</p>
            <p class="govuk-body"><%= govuk_link_to "Find a legal adviser", "https://solicitors.lawsociety.org.uk/" %></p>
            <h3 class="govuk-heading-m">Represent yourself</h3>
            <p class="govuk-body">You may choose to represent yourself because you'd prefer to speak to the judge directly or because you can't afford the legal fees.</p>
            <p class="govuk-body">If you can't afford legal representation, you can still ask a lawyer for advice at any time during the court process.</p>
            <p class="govuk-body">GOV.UK has more information on <%= govuk_link_to "how to represent yourself in court", "https://www.gov.uk/represent-yourself-in-court" %>.

            <p class="govuk-body"><%= govuk_link_to "Support Through Court", "https://www.supportthroughcourt.org/" %> provides help for every stage of the court process for those without a lawyer.
            <p class="govuk-body"><%= govuk_link_to "Find a free legal advice clinic", "https://www.lawworks.org.uk/legal-advice-individuals/find-legal-advice-clinic-near-you" %>
          </div>
        </div>
        <div class="cost govuk-grid-column-one-third">
          <h3 class="cost__heading govuk-heading-m">Lawyer rates (per hour)</h3>
          <p class="cost__amount govuk-heading-l"><strong>&pound;110 - &pound;410</strong></p>
          <p class="govuk-body-xs">Fees may vary depending on your location and the experience of the lawyer. How long
            you need will depend on your situation. Some lawyers offer free 30-minute consultations or fixed fees.
            You can also <%= govuk_link_to "check if you can get free legal help", "https://www.lawworks.org.uk/legal-advice-individuals" %>.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-going-to-court-step-3" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">
            <span class="step__count step__count--professional-mediation-step-1">
              Step <span class="step__count__counter">3</span>
              <span aria-label=" - "></span>
            </span>
            Attend a Mediation Information and Assessment Meeting (MIAM)
          </h2>

          <div class="step__content  govuk-govspeak gv-s-prose">
            <p class="govuk-body">Before applying for a court order you must attend a <%= govuk_link_to "MIAM", "https://www.familymediationcouncil.org.uk/family-mediation/assessment-meeting-miam/" %>, unless <%= govuk_link_to "you're exempt", "https://apply-to-court-about-child-arrangements.service.justice.gov.uk/about/miam_exemptions" %>.</p>
            <p class="govuk-body">The MIAM will assess whether mediation is right for you and if you can agree arrangements out of court.</p>
            <p class="govuk-body">You will need to <%= govuk_link_to "find a mediator", "https://www.familymediationcouncil.org.uk/find-local-mediator/" %> to book a MIAM.</p>
            <p class="govuk-body">Only mediators authorised by the Family Mediation Council can carry out a MIAM. Check with the mediator before you book.</p>
          </div>
        </div>
        <div class="cost govuk-grid-column-one-third">
          <h3 class="cost__heading govuk-heading-m">Average cost of MIAM per person</h3>
          <p class="cost__amount govuk-heading-l"><strong>&pound;120</strong></p>
          <p class="govuk-body-xs">Estimated fees may vary depending on your location and the experience of the
            mediator. Some mediators offer reductions if you're unemployed or on a low income. It may also be cheaper
            if you attend together. If you or the other parent are eligible for legal aid you both will qualify for a
            free MIAM.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-going-to-court-step-4" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">
            <span class="step__count step__count--professional-mediation-step-1">
              Step <span class="step__count__counter">4</span>
              <span aria-label=" - "></span>
            </span>
            Apply to court
          </h2>

          <div class="step__content">
            <p class="govuk-body">Use the <%= govuk_link_to "online service", "https://apply-to-court-about-child-arrangements.service.justice.gov.uk/" %> to apply to court about child arrangements. It costs &pound;263 to apply.</p>
            <p class="govuk-body">
              Alternatively fill in the C100 form to <%= govuk_link_to "make an application", "https://www.gov.uk/looking-after-children-divorce/apply-for-court-order" %>
              and send it to the family court closest to where your child lives.
              You can check this on <%= govuk_link_to "find a court or tribunal", "https://www.gov.uk/find-court-tribunal" %>.
              You will need to provide evidence that you have attended a MIAM, or why you are exempt.
            </p>
            <%= govuk_inset_text do %>
            <p class="govuk-body">You must give brief details of why you are making the application.</p>
            <% end %>
            <p>You'll need to make a separate application if you wish to discuss any other issues in court (for example your finances).</p>
            <p>In the majority of cases, a court will set a hearing date within 2 months. But, the court may decide that an earlier first hearing (an urgent hearing) is necessary</p>
            <p>An advisor from the <%= govuk_link_to "Children and Family Court Advisory and Support Service (Cafcass)", "https://www.cafcass.gov.uk/grown-ups/parents-and-carers/divorce-and-separation/what-to-expect-from-cafcass/" %> or
              <%= govuk_link_to "Cafcass Cymru", "https://gov.wales/cafcass-cymru" %> will gather information before the first hearing.</p>
            <p>The information includes:</p>
            <ul>
              <li>
                <p>a social services and criminal record check on you and the other parent</p>
              </li>
              <li>
                <p>any concerns you and the other parent may have about the safety and welfare of your children</p>
              </li>
            </ul>
            <p>Cafcass or Cafcass Cymru will contact you to find out this information and to give you more details about what to do at the first hearing.</p>
            <p><%= govuk_link_to "Watch video for more details", "#c_video_player" %></p>
          </div>
        </div>
        <div class="cost govuk-grid-column-one-third">
          <h3 class="cost__heading govuk-heading-m">Cost of C100 court application</h3>
          <p class="cost__amount govuk-heading-l"><strong>&pound;263</strong></p>
          <p class="govuk-body-xs">Only applicant needs to pay the fee.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-going-to-court-step-5" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">
            <span class="step__count step__count--going-to-court-step-5">
              Step <span class="step__count__counter">5</span>
              <span aria-label=" - "></span>
            </span>
            Go to court
          </h2>

          <div class="step__content  govuk-govspeak gv-s-prose">
            <p class="govuk-body">At the first hearing the judge will see if there's still a chance you can reach an agreement with the other parent.</p>
            <h3 class="govuk-heading-m">If you can reach an agreement</h3>
            <p class="govuk-body">The judge will end the process and write a consent order setting out the details of your agreement.</p>
            <h3 class="govuk-heading-m">If you can't reach an agreement</h3>
            <p class="govuk-body">If the court makes an order it will be based on what is best for your child.</p>
            <p class="govuk-body">
              Your case may be put on hold (adjourned) if the judge needs more information or time to decide what's best for your children.
              The judge may ask Cafcass to write another report.
            </p>
            <p class="govuk-body">
              The judge may ask you to try again to reach an agreement, for example, they may direct you to attend a MIAM or attempt mediation.
            </p>
            <p class="govuk-body">A new date is set for the next hearing. If you reach an agreement before this date you'll need to go back to court for a judge to make a consent order.</p>
            <p class="govuk-body">GOV.UK has more information on <%= govuk_link_to "what happens if there's no agreement at the first hearing", "https://www.gov.uk/looking-after-children-divorce/after-you-apply-for-a-court-order" %>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="area_links">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
          <h2 class="area_links__heading govuk-heading-l">Going to court resources</h2>
          <p class="govuk-body">
            Telephone: 01689 820272 (Resolution)<br>
            <%= govuk_link_to "Check if you can get legal aid", "https://www.gov.uk/check-legal-aid" %><br>
            <%= govuk_link_to "Find a legal adviser near you", "https://www.gov.uk/find-a-legal-adviser" %><br>
            <%= govuk_link_to "Check if you can get free legal help", "https://weareadvocate.org.uk/apply-for-help.html" %><br>
            <%= govuk_link_to "Legal costs: free or affordable help", "https://www.citizensadvice.org.uk/wales/law-and-courts/legal-system/finding-free-or-affordable-legal-help/" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "shared/agreement_links", links: [
  govuk_link_to(t("pages.professional-mediation.title"), professional_mediation_path),
  govuk_link_to(t("pages.negotiating-between-parents.title"), negotiating_between_parents_path),
  govuk_link_to(t("pages.lawyer-negotiation.title"), lawyer_negotiation_path),
  govuk_link_to(t("pages.collaborative-law.title"), collaborative_law_path)]
%>
