<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          This page is being replaced soon. <a href="https://www.gov.uk/looking-after-children-divorce">Find out about more about making child arrangements.</a>
        </p>
      </div>
    </div>
    <h1 class="govuk-heading-xl">Get help with child arrangements</h1>

    <p class="govuk-body">Use this guide if you need to make or change child arrangements (also known as contact, access
      or custody) with the other parent. For example, you may need to decide where your children will live or rearrange
      the times they see you.</p>

    <%= govuk_inset_text(html_attributes: { lang: "en-GB", data: { demo: true }, aria: { role: "note" } }) do %>
      This guide is for parents. There's also
      <%= govuk_link_to "help available for grandparents", "https://www.gov.uk/contact-grandchild-parents-divorce-separate" %>
    <% end %>

    <h2 class="govuk-heading-l">You could get up to &pound;500 towards family mediation</h2>

    <p class="govuk-body">This is a scheme that provides a contribution to the cost of family mediation. It is only available for a limited time. A trained independent mediator will help you come to an agreement about your child arrangements.</p>

    <p class="govuk-body">
      Find out more about the
      <%= govuk_link_to "family mediation voucher scheme", "https://www.gov.uk/guidance/family-mediation-voucher-scheme?utm_source=CAIT&amp;utm_campaign=mediation_vouchers" %>.
    </p>

    <p class="govuk-body">This guide contains help on:</p>
    <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Preparing to make arrangements</h2>
    <p class="govuk-body">Includes information on where to find emotional support and how to put your children's need
      first.</p>
    <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Reaching an agreement</h2>
    <p class="govuk-body">Includes information on the different options you can use (such as mediation) to help you make
      an arrangement.</p>

    <br>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <section id="preparing-collection" class="summary_areas" data-block-name="preparing-collection">
      <h2 class="summary_areas__heading govuk-heading-l">Preparing to make arrangements</h2>

      <article class="summary_area summary_area__Template-" id="card-involving_children" data-slug="" data-block-name="route:involving_children">
        <div class="summary_area__details">
          <h3 class="summary_area__heading govuk-heading-m">Putting your children first</h3>
          <p class="govuk-body">The needs of your children should come first when you
            make child arrangements with the other parent.</p>
          <p class="summary_area__lede-additional govuk-body">Most children will feel more secure if
            they have regular contact with their parents and know where to get extra support if they need it. If they
            understand the situation you should involve them in the decision-making.</p>
          <p>
            <%= govuk_link_to "Read more about putting your children first", involving_children_path %>
          </p>
        </div>

        <aside class="summary_area__aside">
          <div class="summary_area__concerning">
            <h3 class="summary_area__concerning__heading  govuk-heading-m" role="presentation">
              <span data-block-name="summary_area__concerning__heading">Get information on</span>
            </h3>
            <ul class="summary_area__concerning__list govuk-list govuk-list--bullet">
              <li class="summary_area__concerning__list-item govuk-body govuk-!-font-size-14">
                involving your children in decisions
              </li>
              <li class="summary_area__concerning__list-item govuk-body govuk-!-font-size-14">
                arranging times your children spend with you
              </li>
              <li class="summary_area__concerning__list-item govuk-body govuk-!-font-size-14">
                supporting and protecting your children
              </li>
            </ul>
          </div>
        </aside>
      </article>


      <article class="summary_area summary_area__Template-" id="card-parental_responsibility" data-slug="" data-block-name="route:parental_responsibility">
        <div class="summary_area__details">
          <h3 class="summary_area__heading govuk-heading-m">Your parental responsibility</h3>
          <p class="summary_area__lede govuk-body">Parental responsibility is a term that means you have
            legal rights and duties relating to your children's upbringing. </p>
          <p class="govuk-body">It doesn't mean you have a right to spend
            time with your children (if you don't live with them), but the other parent must include you when making
            important decisions about their lives.</p>
          <p>
            <%= govuk_link_to "Read more about your parental responsibility", parental_responsibility_path %>
          </p>
        </div>
        <aside class="summary_area__aside">
          <div class="summary_area__concerning">
            <h3 class="summary_area__concerning__heading  govuk-heading-m" role="presentation">
              <span data-block-name="summary_area__concerning__heading">Get information on</span>
            </h3>
            <ul class="summary_area__concerning__list  govuk-list govuk-list--bullet">
              <li class="summary_area__concerning__list-item  govuk-body govuk-!-font-size-14">
                what parental responsibility is
              </li>
              <li class="summary_area__concerning__list-item  govuk-body govuk-!-font-size-14">
                who has parental responsibility
              </li>
              <li class="summary_area__concerning__list-item  govuk-body govuk-!-font-size-14">
                making decisions with the other parent
              </li>
            </ul>
          </div>
        </aside>
      </article>

      <article class="summary_area summary_area__Template-" id="card-emotional_support" data-slug="" data-block-name="route:emotional_support">
        <div class="summary_area__details">
          <h3 class="summary_area__heading govuk-heading-m">Getting emotional support</h3>
          <p class="govuk-body">Emotional support can help you get through the stress of making child arrangements.</p>
          <p class="govuk-body">You're more likely to reach an agreement if you're emotionally ready and know where to
            get support if you need it.</p>
          <p>
            <%= govuk_link_to "Read more about getting emotional support", emotional_support_path %>
          </p>
        </div>
        <aside class="summary_area__aside">
          <div class="summary_area__concerning">
            <h3 class="summary_area__concerning__heading  govuk-heading-m" role="presentation">
              <span data-block-name="summary_area__concerning__heading">Get information on</span>
            </h3>
            <ul class="summary_area__concerning__list govuk-list govuk-list--bullet">
              <li class="summary_area__concerning__list-item  govuk-body govuk-!-font-size-14">peer support</li>
              <li class="summary_area__concerning__list-item  govuk-body govuk-!-font-size-14">professional advice</li>
              <li class="summary_area__concerning__list-item  govuk-body govuk-!-font-size-14">emotional readiness</li>
            </ul>
          </div>
        </aside>
      </article>
    </section>

    <section id="reaching-collection" class="summary_areas" data-block-name="reaching-collection">
      <h2 class="summary_areas__heading govuk-heading-l">Reaching an agreement</h2>
      <article class="summary_area summary_area__Template-" id="card-negotiating_between_parents" data-slug="" data-block-name="route:negotiating_between_parents">
        <div class="summary_area__details">
          <h3 class="summary_area__heading govuk-heading-m">Negotiation tools and services</h3>
          <p class="govuk-body">If there are no safety concerns, the cheapest and
            easiest way to make arrangements is to negotiate with the other parent. There are free tools and services
            that can help you.</p>
          <p class="govuk-body"></p>

          <div class="summary_area__usp">
            <h3 class="summary_area_usp__heading  govuk-heading-m">
              <span aria-hidden="true">
                <span data-block-name="Area__usp__heading">Choose this if...</span>
              </span>
              <span class="govuk-visually-hidden">
                <span data-block-name="Area__usp__heading--a11y">Choose Negotiation tools and services if...</span>
              </span>
            </h3>

            <p>You both still communicate and agree on the majority of issues but may benefit from using a tool such as
              a parenting plan.</p>
          </div>

          <div class="summary_area__involvement">
            <h3 class="summary_area__involvement__heading  govuk-heading-m">
              <span data-block-name="summary_area__involvement__heading">Who's involved</span>
              <span class="govuk-visually-hidden">in Negotiation tools and services</span></h3>
            <ul class="summary_area__involvement__list  govuk-list govuk-list--bullet">
              <li>Both parents</li>
            </ul>
          </div>
          <p>
            <%= govuk_link_to "Read more about negotiation tools and services", negotiating_between_parents_path %>
          </p>
        </div>
        <aside class="summary_area__aside">
          <div class="pros_cons">
            <div class="Pros">
              <h3 class="pros_cons__heading pros_cons__heading--pros  govuk-heading-m" aria-label="Pros of Negotiation tools and services">
                <span data-block-name="pros_cons__heading--pros">Pros</span>
              </h3>
              <ul class="pros_cons__list govuk-list pros_cons__list--pros">
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">cheapest and quickest
                  option
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">you and the other parent
                  are in control
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">helps children continue
                  family relationships
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">agreements are
                  flexible
                </li>
              </ul>
            </div>
            <div class="Cons">
              <h3 class="pros_cons__heading pros_cons__heading--cons  govuk-heading-m" aria-label="Cons of Negotiation tools and services">
                <span data-block-name="pros_cons__heading--cons">Cons</span>
              </h3>
              <ul class="pros_cons__list govuk-list pros_cons__list--cons">
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">you'll need a consent
                  order to make agreement legally
                  binding
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">process heavily relies
                  on parent co-operation
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </article>


      <article class="summary_area summary_area__Template-" id="card-professional_mediation" data-slug="" data-block-name="route:professional_mediation">
        <div class="summary_area__details">
          <h3 class="summary_area__heading govuk-heading-m">Professional mediation</h3>
          <p class="summary_area__lede govuk-body">Mediation sessions are run by professionals who help
            you try to reach an agreement without going to court. It isn't relationship counselling and you don't have
            to be in the same room as the other parent.</p>

          <div class="summary_area__usp">
            <h4 class="summary_area_usp__heading govuk-heading-s">
              <span aria-hidden="true">
                <span data-block-name="Area__usp__heading">Choose this if...</span>
              </span>
              <span class="govuk-visually-hidden">
                <span data-block-name="Area__usp__heading--a11y">Choose Professional mediation if...</span>
              </span>
            </h4>
            <p>You both want to reach an agreement but need help from someone who is independent.</p>
          </div>

          <div class="summary_area__involvement">
            <h3 class="summary_area__involvement__heading  govuk-heading-m">
              <span data-block-name="summary_area__involvement__heading">Who's involved</span>
              <span class="govuk-visually-hidden">in Professional mediation</span></h3>
            <ul class="summary_area__involvement__list  govuk-list govuk-list--bullet">
              <li>Both parents</li>
              <li>Mediator</li>
            </ul>
            <p>
              <%= govuk_link_to "Read more about professional mediation", professional_mediation_path %>
            </p>
          </div>

        </div>
        <aside class="summary_area__aside">
          <div class="pros_cons">
            <div class="Pros">
              <h3 class="pros_cons__heading pros_cons__heading--pros  govuk-heading-m" aria-label="Pros of Professional mediation">
                <span data-block-name="pros_cons__heading--pros">Pros</span>
              </h3>
              <ul class="pros_cons__list govuk-list pros_cons__list--pros">
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">it's quicker than court
                  in most cases
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">can be cheaper than
                  using a lawyer
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">less conflict between
                  parents
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">helps children continue
                  family relationships
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">agreements are
                  flexible
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">You may be eligible for a &pound;500 voucher
                </li>
              </ul>
            </div>
            <div class="Cons">
              <h3 class="pros_cons__heading pros_cons__heading--cons  govuk-heading-m" aria-label="Cons of Professional mediation">
                <span data-block-name="pros_cons__heading--cons">Cons</span>
              </h3>
              <ul class="pros_cons__list govuk-list pros_cons__list--cons">
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">you'll need a consent
                  order to make agreement legally
                  binding
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">process won't work
                  unless parents can co-operate
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </article>

      <article class="summary_area summary_area__Template-" id="card-lawyer_negotiation" data-slug="" data-block-name="route:lawyer_negotiation">
        <div class="summary_area__details">
          <h3 class="summary_area__heading govuk-heading-m">Lawyer negotiation</h3>
          <p class="summary_area__lede govuk-body">You don't have to deal directly with the other parent
            if you choose this option. You hire a lawyer to negotiate arrangements for you.</p>

          <div class="summary_area__usp">
            <h4 class="summary_area_usp__heading  govuk-heading-s">
              <span aria-hidden="true">
                <span data-block-name="Area__usp__heading">Choose this if...</span>
              </span>
              <span class="govuk-visually-hidden">
               <span data-block-name="Area__usp__heading--a11y">Choose Lawyer negotiation if...</span>
              </span>
            </h4>
            <p>Your relationship is still difficult and you'd prefer not to meet, or there's a lack of trust.</p>
          </div>
          <div class="summary_area__involvement">
            <h4 class="summary_area__involvement__heading  govuk-heading-s">
              <span data-block-name="summary_area__involvement__heading">Who's involved</span>
              <span class="govuk-visually-hidden">in Lawyer negotiation</span></h4>
            <ul class="summary_area__involvement__list  govuk-list govuk-list--bullet">
              <li>Lawyer for each parent</li>
            </ul>
            <p>
              <%= govuk_link_to "Read more about lawyer negotiation", lawyer_negotiation_path %>
            </p>
          </div>
        </div>
        <aside class="summary_area__aside">
          <div class="pros_cons">
            <div class="Pros">
              <h3 class="pros_cons__heading pros_cons__heading--pros  govuk-heading-m" aria-label="Pros of Lawyer negotiation">
                <span data-block-name="pros_cons__heading--pros">Pros</span>
              </h3>
              <ul class="pros_cons__list govuk-list pros_cons__list--pros">
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">your lawyer supports you
                  throughout
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">quicker and less
                  stressful than court
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">you don't deal directly
                  with the other parent
                </li>
              </ul>
            </div>
            <div class="Cons">
              <h3 class="pros_cons__heading pros_cons__heading--cons  govuk-heading-m" aria-label="Cons of Lawyer negotiation">
                <span data-block-name="pros_cons__heading--cons">Cons</span>
              </h3>
              <ul class="pros_cons__list govuk-list pros_cons__list--cons">
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">can be a more expensive
                  process
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">you may feel you're not
                  in control
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">can be seen as a
                  confrontational approach
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </article>

      <article class="summary_area summary_area__Template-" id="card-collaborative_law" data-slug="" data-block-name="route:collaborative_law">
        <div class="summary_area__details">
          <h3 class="summary_area__heading govuk-heading-m">Collaborative law</h3>
          <p class="summary_area__lede govuk-body">Collaborative lawyers work with you and the other
            parent to resolve your issues out of court. You each hire a lawyer then all meet to negotiate
            face-to-face.</p>
          <div class="summary_area__usp">
            <h4 class="summary_area_usp__heading  govuk-heading-s">
              <span aria-hidden="true">
                <span data-block-name="Area__usp__heading">Choose this if...</span>
              </span>
              <span class="govuk-visually-hidden">
                <span data-block-name="Area__usp__heading--a11y">Choose Collaborative law if...</span>
              </span>
            </h4>
            <p>You can still communicate with the other parent but may have complex legal issues to resolve.</p>
          </div>

          <div class="summary_area__involvement">
            <h4 class="summary_area__involvement__heading  govuk-heading-s">
              <span data-block-name="summary_area__involvement__heading">Who's involved</span>
              <span class="govuk-visually-hidden">in Collaborative law</span></h4>
            <ul class="summary_area__involvement__list  govuk-list govuk-list--bullet">
              <li>Both parents</li>
              <li>Lawyer for each parent</li>
            </ul>
            <p>
              <%= govuk_link_to "Read more about collaborative law", collaborative_law_path %>
            </p>
          </div>
        </div>
        <aside class="summary_area__aside">
          <div class="pros_cons">
            <div class="Pros">
              <h3 class="pros_cons__heading pros_cons__heading--pros  govuk-heading-m" aria-label="Pros of Collaborative law">
                <span data-block-name="pros_cons__heading--pros">Pros</span>
              </h3>
              <ul class="pros_cons__list govuk-list pros_cons__list--pros">
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">everyone is committed to
                  not going to court
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">quicker and less
                  stressful than court
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">you and the other parent
                  set the agenda
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">lawyers are present
                  throughout
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">good for your children
                  to see their parents working
                  together
                </li>
              </ul>
            </div>
            <div class="Cons">
              <h3 class="pros_cons__heading pros_cons__heading--cons  govuk-heading-m" aria-label="Cons of Collaborative law">
                <span data-block-name="pros_cons__heading--cons">Cons</span>
              </h3>
              <ul class="pros_cons__list govuk-list pros_cons__list--cons">
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">can be an expensive
                  process
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">won't work unless you
                  can trust the other parent and
                  co-operate with them
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </article>

      <article class="summary_area summary_area__Template-" id="card-single_lawyer" data-slug="" data-block-name="route:single_lawyer">
        <div class="summary_area__details">
          <h3 class="summary_area__heading govuk-heading-m">Single lawyer model</h3>
          <p class="summary_area__lede govuk-body">One lawyer will work with you and the other parent to
            manage your separation together without going to court.
            The lawyer does not take sides and will give you both legal advice together about how a court
            might deal with matters relating to your children and/or financial situation.</p>
          <div class="summary_area__usp">
            <h4 class="summary_area_usp__heading  govuk-heading-s">
              <span aria-hidden="true">
                <span data-block-name="Area__usp__heading">Choose this if...</span>
              </span>
              <span class="govuk-visually-hidden">
                <span data-block-name="Area__usp__heading--a11y">Choose Single lawyer model if...</span>
              </span>
            </h4>
            <p>You and the other parent are not in conflict, are keen to work together to arrive at an agreement
              and would benefit from joint professional legal advice.</p>
          </div>

          <div class="summary_area__involvement">
            <h4 class="summary_area__involvement__heading govuk-heading-s">
              <span data-block-name="summary_area__involvement__heading">Who's involved</span>
              <span class="govuk-visually-hidden">in Single lawyer model</span></h4>
            <ul class="summary_area__involvement__list  govuk-list govuk-list--bullet">
              <li>Both parents</li>
              <li>One lawyer for both parents</li>
            </ul>
            <p>
              <%= govuk_link_to "Read more about single lawyer model", single_lawyer_path %>
            </p>
          </div>
        </div>
        <aside class="summary_area__aside">
          <div class="pros_cons">
            <div class="Pros">
              <h3 class="pros_cons__heading pros_cons__heading--pros govuk-heading-m" aria-label="Pros of Single lawyer model">
                <span data-block-name="pros_cons__heading--pros">Pros</span>
              </h3>
              <ul class="pros_cons__list govuk-list pros_cons__list--pros">
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
                  quicker and less stressful than court
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
                  more co-operative approach to separation
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
                  can produce a mutual agreement
                </li>
              </ul>
            </div>
            <div class="Cons">
              <h3 class="pros_cons__heading pros_cons__heading--cons  govuk-heading-m" aria-label="Cons of Single lawyer model">
                <span data-block-name="pros_cons__heading--cons">Cons</span>
              </h3>
              <ul class="pros_cons__list govuk-list pros_cons__list--cons">
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
                  will not work if you are in conflict with the other parent
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
                  not suitable for cases with domestic abuse or safeguarding concerns
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
                  can be an expensive process
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
                  you'll need a consent order to make agreement legally binding
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </article>

      <article class="summary_area summary_area__Template-" id="card-arbitration" data-slug="" data-block-name="route:arbitration">
        <div class="summary_area__details">
          <h3 class="summary_area__heading govuk-heading-m">Arbitration</h3>
          <p class="summary_area__lede govuk-body">In family arbitration, you and the other person choose a qualified,
            impartial professional to hear both of your views.
            They will then make a decision that you have agreed to be bound by to resolve your dispute.</p>
          <div class="summary_area__usp">
            <h4 class="summary_area_usp__heading  govuk-heading-s">
              <span aria-hidden="true">
                <span data-block-name="Area__usp__heading">Choose this if...</span>
              </span>
              <span class="govuk-visually-hidden">
                <span data-block-name="Area__usp__heading--a11y">Choose Arbitration if...</span>
              </span>
            </h4>
            <p>You want an independent professional to make a decision for you without going to court.</p>
          </div>

          <div class="summary_area__involvement">
            <h4 class="summary_area__involvement__heading  govuk-heading-s">
              <span data-block-name="summary_area__involvement__heading">Who's involved</span>
              <span class="govuk-visually-hidden">in Arbitration</span></h4>
            <ul class="summary_area__involvement__list  govuk-list govuk-list--bullet">
              <li>Both parents/carers</li>
              <li>Arbitrator</li>
              <li>Lawyers (if applicable)</li>
              <li>Experts (if applicable)</li>
            </ul>
            <p>
              <%= govuk_link_to "Read more about arbitration", arbitration_path %>
            </p>
          </div>
        </div>
        <aside class="summary_area__aside">
          <div class="pros_cons">
            <div class="Pros">
              <h3 class="pros_cons__heading pros_cons__heading--pros govuk-heading-m" aria-label="Pros of Arbitration">
                <span data-block-name="pros_cons__heading--pros">Pros</span>
              </h3>
              <ul class="pros_cons__list govuk-list pros_cons__list--pros">
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
                  quicker and more flexible than court
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
                  you choose the arbitrator
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">
                  the arbitrator will make a decision based on the evidence
                </li>
              </ul>
            </div>
            <div class="Cons">
              <h3 class="pros_cons__heading pros_cons__heading--cons govuk-heading-m" aria-label="Cons of Arbitration">
                <span data-block-name="pros_cons__heading--cons">Cons</span>
              </h3>
              <ul class="pros_cons__list govuk-list pros_cons__list--cons">
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
                 process can break down if there is a lack of trust and co-operation
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
                  can be an expensive process
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">
                  not suitable for cases with domestic abuse or safeguarding concerns
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </article>

      <article class="summary_area summary_area__Template-" id="card-going_to_court" data-slug="" data-block-name="route:going_to_court">
        <div class="summary_area__details">
          <h3 class="summary_area__heading govuk-heading-m">Going to court</h3>
          <p class="summary_area__lede govuk-body">You'll need to go to court if you've tried other
            suitable options and still can't agree arrangements, or you're worried about the welfare of you or your
            children.</p>
          <div class="summary_area__usp">
            <h4 class="summary_area_usp__heading  govuk-heading-s">
              <span aria-hidden="true">
                <span data-block-name="Area__usp__heading">Choose this if...</span>
              </span>
              <span class="govuk-visually-hidden">
                <span data-block-name="Area__usp__heading--a11y">Choose Going to court if...</span>
              </span>
            </h4>
            <p>You want a court to make a decision or you have concerns about domestic abuse or child abuse.</p>
          </div>
          <div class="summary_area__involvement">
            <h4 class="summary_area__involvement__heading govuk-heading-s">
              <span data-block-name="summary_area__involvement__heading">Who's involved</span>
              <span class="govuk-visually-hidden">in Going to court</span></h4>
            <ul class="summary_area__involvement__list  govuk-list govuk-list--bullet">
              <li>Both parents</li>
              <li>Mediator</li>
              <li>Lawyer for each parent (optional)</li>
              <li>Judge</li>
            </ul>
            <p>
              <%= govuk_link_to "Read more about going to court", going_to_court_path %>
            </p>
          </div>
        </div>
        <aside class="summary_area__aside">
          <div class="pros_cons">
            <div class="Pros">
              <h3 class="pros_cons__heading pros_cons__heading--pros govuk-heading-m" aria-label="Pros of Going to court">
                <span data-block-name="pros_cons__heading--pros">Pros</span>
              </h3>
              <ul class="pros_cons__list govuk-list pros_cons__list--pros">
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">a decision is made in
                  your child's best interest
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">legally binding
                  outcome
                </li>
              </ul>
            </div>
            <div class="Cons">
              <h3 class="pros_cons__heading pros_cons__heading--cons govuk-heading-m" aria-label="Cons of Going to court">
                <span data-block-name="pros_cons__heading--cons">Cons</span>
              </h3>
              <ul class="pros_cons__list govuk-list pros_cons__list--cons">
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">can be expensive</li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">court process takes a
                  long time
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">you might not get what
                  you want - a judge makes the
                  decision
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">can be more stressful
                  for you and your children
                </li>
                <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">may increase conflict
                  between you and the other parent
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </article>
    </section>
  </div>
</div>
