<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t(".title") %></h1>

    <p class="govuk-body-lead">If there are no safety concerns, the cheapest and easiest way to make arrangements is to
      negotiate with the other parent. There are free tools and services that can help you.</p>

    <div class="summary_area__usp">
      <h4 class="summary_area_usp__heading govuk-heading-s govuk-!-margin-bottom-1">
        <span aria-hidden="true">
          <span data-block-name="Area__usp__heading">Choose this if...</span>
        </span>
        <span class="govuk-visually-hidden">
          <span data-block-name="Area__usp__heading--a11y">Choose Negotiation tools and services if...</span>
        </span>
      </h4>

      <p>You both still communicate and agree on the majority of issues but may benefit from using a tool such as
        a parenting plan.</p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="share_link">
      <%= govuk_link_to "Share this page by email", "mailto:?to=&body=If%20there%20are%20no%20safety%20concerns%2C%20the%20cheapest%20and%20easiest%20way%20to%20make%20arrangements%20is%20to%20negotiate%20with%20the%20other%20parent.%20There%20are%20free%20tools%20and%20services%20that%20can%20help%20you.%0D%0A%0D%0AFind%20out%20more%20about%20negotiation%20tools%20and%20services%20on%20this%20page%3A%20https%3A%2F%2Fhelpwithchildarrangements.service.justice.gov.uk%2Fnegotiating-between-parents%3Futm_source%3Dshare&subject=I%20want%20to%20share%20this%20page%20about%20negotiation%20tools%20and%20services%20with%20you" %>
    </div>

    <div class="pros_cons pros_cons--header">
      <div class="Pros">
        <h4 class="pros_cons__heading pros_cons__heading--pros govuk-heading-s" aria-label="Pros of Negotiation tools and services">
          <span data-block-name="pros_cons__heading--pros">Pros</span>
        </h4>
        <ul class="pros_cons__list govuk-list pros_cons__list--pros">
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">cheapest and quickest
            option
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">you and the other parent
            are in control
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">helps children continue
            family relationships
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">agreements are
            flexible
          </li>
        </ul>
      </div>
      <div class="Cons">
        <h4 class="pros_cons__heading pros_cons__heading--cons  govuk-heading-s" aria-label="Cons of Negotiation tools and services">
          <span data-block-name="pros_cons__heading--cons">Cons</span>
        </h4>
        <ul class="pros_cons__list govuk-list pros_cons__list--cons">
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">you'll need a consent
            order to make agreement legally
            binding
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">process heavily relies
            on parent co-operation
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Which tools and services to use</h2>
    <p class="govuk-body">The needs of your children must come first when negotiating arrangements. The following are
      flexible, unless you make them into a
      <%= govuk_link_to "consent order", "https://www.gov.uk/looking-after-children-divorce/if-you-agree" %>.</p>
    <p class="govuk-body">Flexible plans are useful if you and the other parent want to change the details as your
      children grow older and their needs change.</p>

    <h3 class="govuk-heading-m">Parenting plan</h3>
    <p class="govuk-body">A parenting plan is a written plan to prepare, discuss and agree arrangements. It's not
      legally binding but it can help you make plans that meet your children's needs.</p>
    <p class="govuk-body">Using a parenting plan:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>helps you know what's expected of you</li>
      <li>confirms your agreements (for example, where your children will live)</li>
      <li>works as a record for you to go back to</li>
    </ul>

    <p class="govuk-body">You can find out more about parenting plans, including a template you can download on the
      <%= govuk_link_to "Cafcass website", "https://www.cafcass.gov.uk/grown-ups/parents-and-carers/divorce-and-separation/parenting-plan/" %>
      .</p>

    <h2 class="govuk-heading-m">Negotiating tools</h2>
    <p class="govuk-body">
      <%= govuk_link_to "The Negotiations Cycle tool", "https://www.separatedfamilies.info/home/parenting-apart/negotiations/" %>
      lets you break down your negotiations into 4 stages.</p>
    <p class="govuk-body">Gingerbread has an
      <%= govuk_link_to "arrangements fact sheet", "https://www.gingerbread.org.uk/information/contact-arrangements/making-arrangements-for-your-children/" %>
      that includes tips on making negotiating work.</p>

    <h2 class="govuk-heading-m">Letter templates</h2>
    <p class="govuk-body">Child Law Advice has a useful
      <%= govuk_link_to "letter template (PDF file - 234kb)", "https://childlawadvice.org.uk/wp-content/uploads/Residence-template-letter.pdf" %>
      if you prefer to negotiate by letter or email.</p>

    <h2 class="govuk-heading-l">When negotiating may not be suitable</h2>
    <h3 class="govuk-heading-m">Child abuse or neglect</h3>
    <p class="govuk-body">You shouldn't make arrangements with the other parent if you think they:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>are abusing your children</li>
      <li>are neglecting your children</li>
      <li>have a drug or alcohol problem that's affecting your children</li>
    </ul>
    <p class="govuk-body">
      <%= govuk_link_to "Find out more about child abuse and neglect", "https://www.nspcc.org.uk/what-is-child-abuse/types-of-abuse/" %>
    </p>

    <p class="govuk-body">
      <%= govuk_link_to "Report child abuse", "https://www.gov.uk/report-child-abuse-to-local-council" %> if you have
      any concerns and tell your children about
      <%= govuk_link_to "Childline", "https://www.childline.org.uk/" %> so they can report any abuse themselves.
    </p>
    <p class="govuk-body">
      You can also
      <%= govuk_link_to "report a concern about a child online", "https://www.nspcc.org.uk/keeping-children-safe/reporting-abuse/report/report-abuse-online/" %>
      to the National Society for the Prevention of Cruelty to Children (NSPCC).
    </p>

    <h3 class="govuk-heading-m">Domestic abuse</h3>
    <p class="govuk-body">Negotiating with the other parent directly won't be suitable if you think they pose a threat
      to you or your children's safety.</p>

    <p class="govuk-body">Find out more about
      <%= govuk_link_to "signs of domestic violence", "http://www.refuge.org.uk/our-work/forms-of-violence-and-abuse/domestic-violence/" %>
      if you're unsure whether you're a victim.</p>

    <p class="govuk-body">
      <%= govuk_link_to "Report domestic violence", "https://www.gov.uk/report-domestic-abuse" %> when it's safe to do
      so and you think you're a victim.</p>
  </div>
</section>

<section class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="area_links">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="area_links__heading govuk-heading-l">Negotiation resources</h2>
          <p class="govuk-body">
            GOV.UK has information on
            <%= govuk_link_to "arranging child maintenance yourself", "https://www.gov.uk/making-child-maintenance-arrangement/arrange-child-maintenance-yourself" %>
            that includes a
            <%= govuk_link_to "child maintenance calculator", "https://www.gov.uk/calculate-your-child-maintenance" %>
            .</p>

          <p class="govuk-body">Separated Families also has a free
            <%= govuk_link_to "online parenting plan", "https://www.separatedfamilies.info/home/parenting-apart/parenting-agreements/" %>
            .</p>

          <p class="govuk-body">
            The Parent Connection offers
            <%= govuk_link_to "tips on how to communicate with your ex", "https://click.clickrelationships.org/content/parenting-apart/tips-for-communicating-with-your-ex" %>
            .</p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "shared/agreement_links", links: [
  govuk_link_to(t("pages.professional-mediation.title"), professional_mediation_path),
  govuk_link_to(t("pages.lawyer-negotiation.title"), lawyer_negotiation_path),
  govuk_link_to(t("pages.collaborative-law.title"), collaborative_law_path),
  govuk_link_to(t("pages.going-to-court.title"), going_to_court_path)]
%>
