<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t(".title") %></h1>

    <p class="govuk-body-lead">Mediation sessions are run by professionals who help you try to reach an agreement
      without going to court.</p>
    <p class="govuk-body">Mediation isn't relationship counselling and you don't have to be in the same room as the
      other parent.</p>

    <%= govuk_inset_text(html_attributes: { lang: "en-GB", data: { demo: true }, aria: { role: "note" } }) do %>
      <p class="govuk-body"><strong>You could get up to &pound;500 towards family mediation</strong></p>
      <p class="govuk-body">This is a scheme that provides a contribution to the cost of family mediation. It is only available for a limited time.<br>
        Find out more about the
        <%= govuk_link_to "family mediation voucher scheme", "https://www.gov.uk/guidance/family-mediation-voucher-scheme?utm_source=CAIT&utm_campaign=mediation_vouchers" %>
        .</p>
    <% end %>

    <div class="summary_area__usp">
      <h4 class="summary_area_usp__heading govuk-heading-s govuk-!-margin-bottom-1">
        <span aria-hidden="true">
          <span data-block-name="Area__usp__heading">Choose this if...</span>
        </span>
        <span class="govuk-visually-hidden">
          <span data-block-name="Area__usp__heading--a11y">Choose Professional mediation if...</span>
        </span>
      </h4>

      <p>You both want to reach an agreement but need help from someone who is independent.</p>
      <p><strong>If you've been invited to mediation,
        <%= govuk_link_to "find out what it means for you", professional_mediation_other_parent_path %>
        .</strong></p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="share_link">
      <%= govuk_link_to "Share this page by email", "mailto:?to=&body=Mediation%20sessions%20are%20run%20by%20professionals%20who%20help%20you%20try%20to%20reach%20an%20agreement%20without%20going%20to%20court.%0D%0AMediation%20isn%E2%80%99t%20relationship%20counselling%20and%20you%20don%E2%80%99t%20have%20to%20be%20in%20the%20same%20room%20as%20the%20other%20parent.%0D%0A%0D%0AFind%20out%20more%20about%20professional%20mediation%20on%20this%20page%3A%20https%3A%2F%2Fhelpwithchildarrangements.service.justice.gov.uk%2Fprofessional-mediation%3Futm_source%3Dshare&subject=I%20want%20to%20share%20this%20page%20about%20professional%20mediation%20with%20you" %>
    </div>

    <div class="pros_cons pros_cons--header">
      <div class="Pros">
        <h4 class="pros_cons__heading pros_cons__heading--pros govuk-heading-s" aria-label="Pros of Negotiation tools and services">
          <span data-block-name="pros_cons__heading--pros">Pros</span>
        </h4>
        <ul class="pros_cons__list govuk-list pros_cons__list--pros">
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">it's quicker than court in most cases
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">can be cheaper than using a lawyer
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">less conflict between parents
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">helps children continue family relationships
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--pros">agreements are flexible
          </li>
        </ul>
      </div>
      <div class="Cons">
        <h4 class="pros_cons__heading pros_cons__heading--cons  govuk-heading-s" aria-label="Cons of Negotiation tools and services">
          <span data-block-name="pros_cons__heading--cons">Cons</span>
        </h4>
        <ul class="pros_cons__list govuk-list pros_cons__list--cons">
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">you'll need a consent order to make agreement legally binding
          </li>
          <li class="pros_cons__item govuk-list govuk-!-font-size-14 pros_cons__item--cons">process won't work unless parents can co-operate
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section id="professional-mediation-video" class="section_video govuk-grid-row" data-block-name="professional-mediation-video">
  <div class="govuk-grid-column-full">
    <div class="section_video__wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
          <h2 class="govuk-heading-l">Understanding family mediation</h2>
          <p class="govuk-visually-hidden">
            <%= govuk_link_to "Understanding family mediation - Video on YouTube", "https://www.youtube.com/watch?v=zYhWdwazCZA" %>
          </p>

          <div aria-hidden="true" type="video" id="c_video_player">
            <div class="section_video__video_wrapper">
              <iframe id="understanding_family_mediation" title="Understanding Family Mediation" src="https://www.youtube.com/embed/zYhWdwazCZA?enablejsapi=1&amp;origin=https://helpwithchildarrangements.service.justice.gov.uk" allowfullscreen="" data-gtm-yt-inspected-8="true"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-professional-mediation-step-1" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <span class="step__count step__count--professional-mediation-step-1">
              Step <span class="step__count__counter">1</span>
              <span aria-label=" - "></span>
            </span>
            Find a mediator
          </h2>

          <div class="step__content govuk-govspeak gv-s-prose">
            <p class="govuk-body">Mediator rates can vary depending on their experience and your location. Some offer
              reductions
              if you're unemployed or on a low income.</p>
            <p class="govuk-body">Check with the mediator before booking and don't be afraid to shop around.</p>

          </div>
          <form class="content-form" action="https://www.familymediationcouncil.org.uk/find-local-mediator/" target="_blank">
            <input type="hidden" name="di" value="5">
            <div class="govuk-form-group">
              <label class="govuk-label" for="pc">
                <strong>Enter your postcode</strong>
              </label>
              <input class="govuk-input govuk-input--width-10" id="pc" name="pc" type="text">
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit">
              Find a mediator
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-professional-mediation-step-2" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <span class="step__count step__count--professional-mediation-step-1">
              Step <span class="step__count__counter">2</span>
              <span aria-label=" - "></span>
            </span>
            Book initial meeting with mediator
          </h2>

          <div class="step__content  govuk-govspeak gv-s-prose">
            <p class="govuk-body">You must then meet with the mediator to check if mediation is right for you. The mediator will also tell you about other options to help you reach an agreement.</p>
            <p class="govuk-body">This initial meeting is called a
              <%= govuk_link_to "Mediation Information and Assessment Meeting (MIAM)", "https://www.familymediationcouncil.org.uk/family-mediation/assessment-meeting-miam/" %>.</p>
            <p class="govuk-body">The other parent will need to see the mediator too. They can either come to the same
              MIAM as you or have a
              separate meeting with the mediator.</p>
            <p class="govuk-body">If you or the other parent want to go to
              <%= govuk_link_to "court", going_to_court_path %>
              you must attend a MIAM, unless
              <%= govuk_link_to "you're exempt", "https://apply-to-court-about-child-arrangements.service.justice.gov.uk/about/miam_exemptions" %>.</p>
            <p class="govuk-body">At the meeting the mediator will explain:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>how mediation works</li>
              <li>the benefits</li>
              <li>whether it's right for you</li>
              <li>the likely costs</li>
              <li><%= govuk_link_to "if you're eligible for mediation through legal aid", "https://www.gov.uk/check-legal-aid" %>
              </li>
              <li>other options available to you</li>
            </ul>
            <p class="govuk-body">If you apply to court only mediators authorised by the <%= govuk_link_to "Family Mediation Council", "https://www.familymediationcouncil.org.uk/find-local-mediator/" %> can carry out a MIAM. Check with the mediator before you book.</p>

          </div>
        </div>

        <div class="cost govuk-grid-column-one-third govuk-!-margin-top-2">
          <h4 class="cost__heading govuk-heading-s">Average cost of MIAM per person</h4>
          <p class="cost__amount govuk-heading-l"><strong>&pound;120</strong></p>
          <p class="govuk-body-xs">Estimated fees may vary depending on your location and the experience of the
            mediator. Some mediators offer reductions if you're unemployed or on a low income. It may also be cheaper
            if you attend together. If you or the other parent are eligible for legal aid you both will qualify for a
            free MIAM.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-professional-mediation-step-3" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <span class="step__count step__count--professional-mediation-step-1">
              Step <span class="step__count__counter">3</span>
              <span aria-label=" - "></span>
            </span>
            Attend mediation sessions
          </h2>

          <div class="step__content  govuk-govspeak gv-s-prose">
            <p class="govuk-body">Mediation usually takes place face-to-face with the other parent over several
              sessions. Each session lasts about 90 minutes.</p>
            <p class="govuk-body">You can choose to have mediation:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>in the same room</li>
              <li>in different rooms (shuttle mediation)</li>
              <li>on different days</li>
              <li>with your children (child-inclusive mediation)</li>
              <li>with a lawyer (lawyer-assisted mediation)</li>
            </ul>
            <p class="govuk-body">During the sessions the mediator will:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>discuss what your options are</li>
              <li>make sure you and the other parent both have a chance to speak</li>
              <li>tell you when you might need further help (for example pension advice)</li>
              <li>ensure you make decisions together that are in your children's best interests</li>
            </ul>

          </div>
        </div>

        <div class="cost govuk-grid-column-one-third govuk-!-margin-top-2">
          <h4 class="cost__heading govuk-heading-s">Average cost of mediation per person</h4>
          <p class="cost__amount govuk-heading-l"><strong>&pound;480</strong></p>
          <p class="govuk-body-xs">Estimated cost based on an average of 3 sessions. Fees may vary depending on your
            location and the experience of the mediator. Some mediators offer reductions if you're unemployed or on a low income.
            <%= govuk_link_to "Legal aid may be available for mediation", "https://www.gov.uk/check-legal-aid" %>.
            You could get up to £500 towards family mediation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="step-professional-mediation-step-4" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="step">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">
            <span class="step__count step__count--professional-mediation-step-1">
              Step <span class="step__count__counter">4</span>
              <span aria-label=" - "></span>
            </span>
            Get agreement in writing
          </h2>

          <div class="step__content  govuk-govspeak gv-s-prose">
            <p class="govuk-body">If you both reach an agreement the mediator will write down the details. This isn't
              legally binding but is flexible so you can both agree to update it if your situation changes.</p>
            <h3 class="govuk-heading-s">Making your agreement legally binding</h3>
            <p class="govuk-body">You can ask a lawyer to draft a consent order if you or the other parent prefer to
              make your agreement legally binding.</p>
            <p class="govuk-body">This can be useful if your arrangements are long and complex or you think you need a
              more formal agreement with the other parent.</p>
            <p class="govuk-body">GOV.UK has more information about consent orders and
              <%= govuk_link_to "making your agreement legally binding", "https://www.gov.uk/looking-after-children-divorce/if-you-agree" %>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="area_links">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
          <h2 class="govuk-heading-l">Other types of mediation</h2>

          <h3 class="govuk-heading-m">Shuttle mediation</h3>
          <p class="govuk-body">Your mediator may suggest that you and the other parent sit in separate rooms while the
            mediator
            'shuttles' between you. This is a good option if you'd prefer not to meet the other parent face-to-face or
            don't
            feel safe to do so.</p>
          <p class="govuk-body">Shuttle mediation is usually more expensive than standard mediation because it's a
            longer
            process.</p>

          <h3 class="govuk-heading-m">Lawyer-assisted mediation</h3>
          <p class="govuk-body">This is different to standard mediation because you and the other parent can both hire
            lawyers
            who attend sessions with you. Your lawyers can also help with shuttle mediation.</p>
          <p class="govuk-body">As mediators can't offer legal advice you may want to choose this option if you have a
            lot of
            complex legal issues to resolve.</p>
          <p class="govuk-body">You'll need to consider the additional cost of a lawyer if you select this option.</p>

          <h3 class="govuk-heading-m">Child-inclusive mediation</h3>
          <p class="govuk-body">If your children understand your situation you can ask them to attend so a mediator can
            hear their wishes.</p>

          <p class="govuk-body">Talk with a mediator first about whether it's suitable to involve your children and
            remember to check if your children are happy to take part.</p>

          <p class="govuk-body">You'll need to make sure your mediator is qualified to offer this service before
            booking.</p>

          <h2 class="govuk-heading-l">When mediation may not be suitable</h2>
          <h3 class="govuk-heading-m">Child abuse or neglect</h3>
          <p class="govuk-body">You shouldn't make arrangements with the other parent if you think they:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>are abusing your children</li>
            <li>are neglecting your children</li>
            <li>have a drug or alcohol problem that's affecting your children</li>
          </ul>
          <p class="govuk-body">
            <%= govuk_link_to "Find out more about child abuse and neglect", "https://www.nspcc.org.uk/what-is-child-abuse/types-of-abuse/" %></p>
          <p class="govuk-body">
            <%= govuk_link_to "Report child abuse", "https://www.gov.uk/report-child-abuse-to-local-council" %>
            if you have any concerns and tell your children about <%= govuk_link_to "Childline", "https://www.childline.org.uk/" %>
            so they can report any abuse themselves.</p>
          <p class="govuk-body">You can also
            <%= govuk_link_to "report a concern about a child online", "https://www.nspcc.org.uk/keeping-children-safe/reporting-abuse/report/report-abuse-online/" %>
            to the National Society for the Prevention of Cruelty to Children
            (NSPCC).</p>
          <h3 class="govuk-heading-m">Domestic abuse</h3>
          <p class="govuk-body">Mediation with the other parent may not be suitable if you think they pose a threat to
            you or your children's safety.</p>
          <p class="govuk-body">Find out more about
            <%= govuk_link_to "signs of domestic violence", "https://www.nhs.uk/live-well/getting-help-for-domestic-violence/" %> if you're unsure whether you're a victim.</p>
          <p class="govuk-body">
            <%= govuk_link_to "Report domestic violence", "https://www.gov.uk/report-domestic-abuse" %> when
            it's safe to do so and you think you're a victim.</p>
          <p class="govuk-body">
            If you need to access support, Citizen's Advice has a list of organisations which can help you. <%= govuk_link_to "Domestic violence and abuse - getting help - Citizens Advice", "https://www.citizensadvice.org.uk/family/gender-violence/domestic-violence-and-abuse-getting-help/" %>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="area_links govuk-!-margin-top-6" data-block-name="preparing-collection">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <section id="going-to-court-other-parent-before" class="SectionArea">
            <h2 class="area_links__heading govuk-heading-l">Professional mediation resources</h2>
            <p>The Family Mediation Council has more information on the <%= govuk_link_to "mediation process", "https://www.familymediationcouncil.org.uk/family-mediation/" %> and how it can benefit you.</p>
            <p>The <%= govuk_link_to "Planning Together for Children course", "https://www.cafcass.gov.uk/parent-carer-or-family-member/my-family-involved-private-law-proceedings/help-planning-together-children" %> in England and the <%= govuk_link_to "Working Together for Children programme", "https://www.gov.wales/sites/default/files/publications/2023-01/working-together-for-children-wt4c-factsheet.pdf" %> in Wales helps you understand how to put your children first and reduce the harmful effects of parental conflict.</p>
            <p>There is a similar programme in Scotland <%= govuk_link_to "Parenting Apart - Relationships Scotland", "http://relationships-scotland.org.uk/" %>.</p>
            <p>Download a <%= govuk_link_to "mediation information pack", "https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/489124/family-mediation-leaflet.pdf" %> from the Ministry of Justice.</p>
            <p>Advice Now has a <%= govuk_link_to "guide to using mediation", "https://www.advicenow.org.uk/guides/survival-guide-using-family-mediation-after-break" %> following separation.</p>
            <p><%= govuk_link_to "Listen to real mediation stories", "https://www.youtube.com/playlist?list=PLe8vyktlR0b30Yd7lJyGLErjf22o-Ej32" %> from a University of Exeter study.</p>
            <p>Find out more about <%= govuk_link_to "lawyer-assisted mediation", "https://www.divorce.co.uk/avoiding-court/mediation" %>.</p>
            <p><%= govuk_link_to "Find a local mediator", "https://www.familymediationcouncil.org.uk/find-local-mediator/" %></p>
          </section>
        </div>
      </div>
    </nav>
  </div>
</section>


<%= render "shared/agreement_links", links: [
  govuk_link_to(t("pages.negotiating-between-parents.title"), negotiating_between_parents_path),
  govuk_link_to(t("pages.lawyer-negotiation.title"), lawyer_negotiation_path),
  govuk_link_to(t("pages.collaborative-law.title"), collaborative_law_path),
  govuk_link_to(t("pages.going-to-court.title"), going_to_court_path)]
%>
