<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t(".title") %></h1>

    <p class="govuk-body-lead">You may have been contacted by a mediator or the other parent may have asked you to try mediation. It's important to understand what mediation is and how it could help your situation.</p>
    <p class="govuk-body">The other parent may have approached a professional mediator because they want help to reach a decision about arrangements for your children. Or you may have been invited to a 'Mediation Information and Assessment Meeting' or 'MIAM', which is a legal requirement before the other parent can apply to court.</p>

    <section id="mediation-other-should-i-go" class="SectionArea">
      <h2 class="area_links__heading govuk-heading-l">Should I go to mediation?</h2>
      <p class="govuk-body">It may have come as a surprise to you that your ex wants to change something regarding the arrangements for your child or children. A letter from a mediator may have been completely unexpected. If you're fine with the arrangements as they are, why should you contact the mediator?</p>
      <p class="govuk-body">Mediation can help you and the other parent resolve problems without going to court. Applying for a court order often takes longer and may be more expensive and stressful. Mediation could just be an opportunity to talk to someone independent about your parenting situation.</p>
      <p class="govuk-body">You should contact the mediator to find out more. Don't worry that the other parent has chosen the mediator, they'll always be completely independent. If you'd prefer to <%= govuk_link_to "use another mediator", "https://www.familymediationcouncil.org.uk/find-local-mediator/" %>, you could find and agree on one together.</p>
      <p class="govuk-body">If you've been invited to a MIAM, you're expected to go - unless <%= govuk_link_to "you're exempt", "https://apply-to-court-about-child-arrangements.service.justice.gov.uk/about/miam_exemptions" %>. If you don't attend, the mediator can sign a document allowing the other parent to <%= govuk_link_to "apply for a court order", going_to_court_path %> about your child arrangements.</p>
      <p class="govuk-body">In mediation, both you and the other parent will be able to raise things that are important to you and work to agree a solution. If a case goes to court, a judge will decide for you and it will be legally binding.</p>
      <p class="govuk-body">Family mediation works for many people but it is not right for everyone.   It will not be suitable if, for example, there's been <%= govuk_link_to "domestic abuse", "https://www.nhs.uk/live-well/getting-help-for-domestic-violence/" %> or you're worried about the <%= govuk_link_to "safety of the children", "https://www.nspcc.org.uk/what-is-child-abuse/types-of-abuse/" %>. The mediator will help you understand if it could be suitable for your situation.</p>
      <p class="govuk-body">If there are no safety concerns, however, there are other ways you could try and reach an agreement if you don't think mediation is right for you. The cheapest and easiest way to make arrangements is to <%= govuk_link_to "negotiate with the other parent", negotiating_between_parents_path %>. There are free tools and services that can help you.</p>
    <section>

     <section id="mediation-other-what-happens" class="SectionArea">
      <h2 class="area_links__heading govuk-heading-l">What happens in mediation?</h2>
      <p class="govuk-body">If you go to mediation, you'll find out what the other parent wants to talk about. You'll get the opportunity to talk about the situation from your point of view too. You don't have to see the other parent if you don't want to (you can be in separate rooms), and the mediator can arrange for you to arrive at different times.</p>
      <p class="govuk-body">The mediator will be independent, even if they operate from a solicitor's office, and won't take sides. They'll support you both.</p>
      <p class="govuk-body">Whatever you say in mediation is confidential. Information won't be shared with anyone else without your permission (unless for example, there's a safeguarding risk or a criminal offence is disclosed).</p>
      <p class="govuk-body">You and your ex will be able to raise things that are important to you and the mediator can help create a list of topics to talk through.</p>
      <p class="govuk-body">Mediation can help you stay in control. It's voluntary and no-one will make you do anything against your wishes.</p>
      <p class="govuk-body">The mediator will help you and the other parent (separately or together) go through all your issues, think of your options, decide whether they would work well in practice and come to an agreement about what's best for your children. They can also explain how you can make your agreement legally binding, if you want to.</p>
    </section>
  </div>
</div>

<div class="govuk-grid-row">
  <section id="mediation-other-cost" class="SectionArea">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-3">
      <h2 class="area_links__heading govuk-heading-l">How much does it cost?</h2>
      <p class="govuk-body">Mediation can be much cheaper than going to court.</p>
      <p class="govuk-body">Advice Now has a <%= govuk_link_to "guide to using mediation following separation", "https://www.advicenow.org.uk/guides/survival-guide-using-family-mediation-after-break" %>, which contains information about costs.</p>
    </div>

    <div class="cost govuk-grid-column-one-third govuk-!-margin-top-8">
      <h4 class="cost__heading govuk-heading-s">Average cost of MIAM per person</h4>
      <p class="cost__amount govuk-heading-l"><strong>&pound;120</strong></p>
      <p class="govuk-body-xs">It may be cheaper if you attend together.</p>
    </div>
  </section>

  <section id="mediation-other-cost2" class="SectionArea">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-3">
      <p>You may not have to pay for the MIAM or mediation if you or the other parent are <%= govuk_link_to "eligible for legal aid", "https://www.gov.uk/check-legal-aid" %>. The mediator can help you check.</p>
      <p>First you have a MIAM, which is the first meeting. The other parent sees the mediator too. You can have your MIAM on your own with the mediator so you can talk about any concerns you have.</p>
      <p>If you continue with mediation, it usually takes place with the other parent over several sessions. You can be in separate rooms if you prefer. Each session lasts about 90 minutes.</p>
    </div>

    <div class="cost govuk-grid-column-one-third govuk-!-margin-top">
      <h4 class="cost__heading govuk-heading-s">Average cost of mediation per person</h4>
      <p class="cost__amount govuk-heading-l"><strong>&pound;480</strong></p>
       <p class="govuk-body-xs">
        You could get up to &pound;500 towards family mediation
        Find out more about the <%= govuk_link_to "family mediation voucher scheme", "https://www.gov.uk/guidance/family-mediation-voucher-scheme?utm_source=CAIT&utm_campaign=mediation_vouchers" %>.
      </p>
      <p class="govuk-body-xs">
        Estimated cost based on an average of <strong>3</strong> sessions. Fees may vary depending on your location and the experience of the mediator. Some mediators offer reductions if you're unemployed or on a low income.
        <%= govuk_link_to "Legal aid may be available for mediation", "https://www.nfm.org.uk/about-family-mediation-services/legal-aid-for-mediation/" %>.
      </p>
    </div>
  </section>
</div>

<section id="professional-mediation-other-video" class="section_video govuk-grid-row" data-block-name="professional-mediation-other-video">
  <div class="govuk-grid-column-full">
    <div class="section_video__wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
          <h2 class="govuk-heading-l">Understanding family mediation</h2>
          <p class="govuk-visually-hidden">
            <%= govuk_link_to "Understanding family mediation - Video on YouTube", "https://www.youtube.com/watch?v=zYhWdwazCZA" %>
          </p>

          <div aria-hidden="true" type="video" id="c_video_player">
            <div class="section_video__video_wrapper">
              <iframe id="understanding_family_mediation" title="Understanding Family Mediation" src="https://www.youtube.com/embed/zYhWdwazCZA?enablejsapi=1&amp;origin=https://helpwithchildarrangements.service.justice.gov.uk" allowfullscreen="" data-gtm-yt-inspected-8="true"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="area_links govuk-!-margin-top-6" data-block-name="preparing-collection">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <section id="going-to-court-other-parent-before" class="SectionArea govuk-!-margin-bottom-8">
            <h2 class="area_links__heading govuk-heading-l">Professional mediation resources</h2>
            <p>The Family Mediation Council has more information on the <%= govuk_link_to "mediation process", "https://www.familymediationcouncil.org.uk/family-mediation/" %> and how it can benefit you.
              Find out more about <%= govuk_link_to "professional mediation", professional_mediation_path %>.</p>
            <p>The <%= govuk_link_to "Planning Together for Children course", "https://www.cafcass.gov.uk/parent-carer-or-family-member/my-family-involved-private-law-proceedings/help-planning-together-children" %>
              in England and the <%= govuk_link_to "Working Together for Children programme", "https://www.gov.wales/sites/default/files/publications/2023-01/working-together-for-children-wt4c-factsheet.pdf" %>
              in Wales helps you understand how to put your children first and reduce the harmful effects of parental conflict.</p>
            <p>There is a similar programme in <%= govuk_link_to "Scotland", "https://www.relationships-scotland.org.uk/family-support/parenting-apart-groups" %>.</p>
            <p>Download a <%= govuk_link_to "mediation information pack", "https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/489124/family-mediation-leaflet.pdf" %> from the Ministry of Justice.</p>
            <p>Advice Now has a <%= govuk_link_to "guide to using mediation", "https://www.advicenow.org.uk/guides/survival-guide-using-family-mediation-after-break" %> following separation.</p>
            <p><%= govuk_link_to "Listen to real mediation stories", "https://www.youtube.com/playlist?list=PLe8vyktlR0b30Yd7lJyGLErjf22o-Ej32" %> from a University of Exeter study.</p>
            <p>Find out more about <%= govuk_link_to "lawyer-assisted mediation", "https://www.divorce.co.uk/avoiding-court/mediation" %>.</p>
            <p><%= govuk_link_to "Find a local mediator", "https://www.familymediationcouncil.org.uk/find-local-mediator/" %></p>
          </section>
        </div>
      </div>
    </nav>
  </div>
</section>

<%= render "shared/agreement_links", links: [
  govuk_link_to(t("pages.professional-mediation.title"), professional_mediation_path),
  govuk_link_to(t("pages.negotiating-between-parents.title"), negotiating_between_parents_path),
  govuk_link_to(t("pages.lawyer-negotiation.title"), lawyer_negotiation_path),
  govuk_link_to(t("pages.collaborative-law.title"), collaborative_law_path),
  govuk_link_to(t("pages.going-to-court.title"), going_to_court_path)]
%>
