<% content_for :page_title do %>
  <%= t('page_title.search_results') %>
<% end %>

<%= govuk_back_link(href: "/search") %>

<h1 class="govuk-heading-xl">Search results</h1>

<% if @cases.empty? %>
  <p class="govuk-body">Nothing found to display.</p>
<% else %>
  <%= govuk_button_link_to "Download results as CSV", to_csv_path(request.url) %>
  <%= render "table" %>
  <%= govuk_pagination(pagy: @pagy) %>
<% end %>

