<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t(".title") %></h1>

    <h2 class="govuk-heading-l">Using this online service</h2>
    <p class="govuk-body">This online service is run by the Ministry of Justice. We want as many people as possible to be able to use it.</p>
    <p class="govuk-body">For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the online service using just a keyboard</li>
      <li>navigate most of the online service using speech recognition software</li>
    </ul>
    <p class="govuk-body">We've also made the website text as simple as possible to understand.</p>
    <p class="govuk-body"><%= govuk_link_to "AbilityNet", "https://mcmw.abilitynet.org.uk/" %> has advice on making your
      device easier to use if you have a disability.</p>

    <h2 class="govuk-heading-l">About the accessibility of this online service</h2>
    <p class="govuk-body">We used the <%= govuk_link_to "GOV.UK Design System", "https://design-system.service.gov.uk" %> to build this service.</p>
    <p class="govuk-body">Basic tests were performed on this online service on 7 November 2019. These tests were carried out by the Ministry of Justice.</p>
    <p class="govuk-body">We tested the homepage, the privacy policy, cookies and the terms and conditions.</p>
    <p class="govuk-body">We also tested interaction with third-party content, including embedded video content.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>getting emotional support</li>
      <li>professional mediation</li>
      <li>lawyer negotiation</li>
      <li>collaborative law</li>
      <li>going to court</li>
    </ul>

    <h2 class="govuk-heading-l">What to do if you cannot access parts of this online service</h2>
    <p class="govuk-body">If you need information in a different format like an accessible PDF, large print, easy read, audio recording or braille, email <%= govuk_link_to "accessibility.childarrangements@digital.justice.gov.uk", "mailto:accessibility.childarrangements@digital.justice.gov.uk" %>.</p>

    <h2 class="govuk-heading-l">Technical information about accessibility</h2>
    <p class="govuk-body">The Ministry of Justice is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <p class="govuk-body">This online service is partially compliant with the <%= govuk_link_to "Web Content Accessibility Guidelines version 2.1", "https://www.w3.org/TR/WCAG21/" %> AA standard, due to the non-compliances listed below.

    <h2 class="govuk-heading-l">Non compliance with the accessibility regulations</h2>
    <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>The service links to PDF content provided by other Ministry of Justice teams. In some cases headings are not tagged, making it difficult for screenreader users to navigate.</li>
    </ul>
    <p class="govuk-body">The accessibility of this content lies with those Ministry of Justice teams, but we provide alternative options for further information where possible.</p>

    <h2 class="govuk-heading-l">Third-party supplied content</h2>
    <p class="govuk-body">This online service uses third-party video content hosted by Youtube. The accessibility of this content lies with the third-party provider, but the embedded videos meet basic accessibility standards, including accessible buttons to play the video, captions for audio and surrounding text as an alternative.</p>

    <h2 class="govuk-heading-l">Reporting accessibility problems</h2>
    <p class="govuk-body">We're always looking to improve the accessibility of this online service. If you find any problems not listed on this page or you think we're not meeting accessibility requirements, contact <%= govuk_link_to "accessibility.childarrangements@digital.justice.gov.uk", "mailto:accessibility.childarrangements@digital.justice.gov.uk" %>.</p>

    <h2 class="govuk-heading-l">Enforcement procedure</h2>
    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, <%= govuk_link_to "contact the Equality Advisory and Support Service (EASS)", "https://www.equalityadvisoryservice.com/" %>.</p>

    <p class="govuk-body">This statement was prepared on 25 November 2019. It was last updated on 25 November 2019.</p>
  </div>
</div>
